<div class="container">
    <div class="row">
        <h1>Messages</h1>
        <ul>
            <% @messages.each do |message| %>
                <li><%= link_to message.title, user_message_path(message) %></li>
            <% end %>
        </ul>
    </div>
        <%= link_to "Create new message", new_user_message_path, :class => "btn btn-primary" %>
</div>

