<% if notice.present? %>
    <div class="container">
        <p class="notice bg-success"><%= notice %></p>
    </div>
<% elsif alert.present? %>
    <div class="container">
        <p class="alert bg-danger"><%= alert %></p>
    </div>
<% end %>