<footer class="footer bg-light mt-5">
    <div class="row align-items-center text-center my-2">
      <div class="col-md-4">
       <a href="https://www.facebook.com/jiskobou2021"><i class="fa-brands fa-facebook-f icon"></i></a>
       <a href="https://www.instagram.com/jiskobou.inc/?hl=fr"><i class="fa-brands fa-instagram icon"></i></a>
      </div>
      <div class="col-md-4 mt-4 text-center">
        <%= image_tag('jiskobou.png', class: 'logo') %>
      </div>
      <div class="col-md-4">
        <span copyright>Copyright © jiskobou.ca | Created by FredMM</span>
      </div>
    </div>
  </footer>