<div class="container py-5">
    <h1 class="text-center serror">500 ....</h1>
    <h3 class="text-center">Woops!!!!</h3>
    <div class="text-center py-3">Something went wrong :( <p>Let's go <%= link_to "Home", root_path  %> and try from there.</p></div>
</div>
