<div class="container py-5">
    <h1 class="text-center nfound">4<i class="far fa-question-circle fa-spin spin"></i>4</h1>
    <div class="text-center py-3">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <%= link_to "Home", root_path  %> and try from there.</p></div>
</div>